@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $red.darken-2, // #E53935
  accent: $red.accent-1,  
  secondary: $red.lighten-1, 
  info: $blue.lighten-1,  
  warning: $amber.lighten-1, 
  error: $red.lighten-1, 
  success: $green.lighten-1 
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main'